In [14]:
class Student:
    def storeStudData(self,rno,sna,mk1=0,mk2=0,mk3=0):
        self.rollno = rno
        self.sname = sna
        self.m1 = mk1
        self.m2 = mk2
        self.m3 = mk3
        
    def dispTotMks(self):
        print("Total marks scored :: ",self.m1+self.m2+self.m3)
        
    def dispAvgMks(self):
        print("Average of the marks scored :: ",(self.m1+self.m2+self.m3)/3)
        
    def dispStudDtls(self):
        print("Roll Number of the student :: ",self.rollno)
        print("Name of the student :: ",self.sname)
        print("Marks scored in Subject #1 :: ",self.m1)
        print("Marks scored in Subject #2 :: ",self.m2)
        print("Marks scored in Subject #3 :: ",self.m3)
        self.dispTotMks()
        self.dispAvgMks()

In [15]:
s1 = Student()

In [16]:
s1.storeStudData(1,'Amit',50,60,70)

In [17]:
s1.dispStudDtls()

Roll Number of the student ::  1
Name of the student ::  Amit
Marks scored in Subject #1 ::  50
Marks scored in Subject #2 ::  60
Marks scored in Subject #3 ::  70
Total marks scored ::  180
Average of the marks scored ::  60.0

In [6]:
s2 = Student()
s3 = Student()

In [7]:
s2.storeStudData(2,'Anil',80,90.25,78.45)

In [8]:
s3.storeStudData(3,'Hari',90,80,60)

In [9]:
s3.dispStudDtls()

Roll Number of the student ::  3
Name of the student ::  Hari
Marks scored in Subject #1 ::  90
Marks scored in Subject #2 ::  80
Marks scored in Subject #3 ::  60
Total marks scored ::  230
Average of the marks scored ::  76.66666666666667

In [10]:
s2.dispStudDtls()

Roll Number of the student ::  2
Name of the student ::  Anil
Marks scored in Subject #1 ::  80
Marks scored in Subject #2 ::  90.25
Marks scored in Subject #3 ::  78.45
Total marks scored ::  248.7
Average of the marks scored ::  82.89999999999999

In [11]:
s = [Student(),Student(),Student()]

In [12]:
s[0].storeStudData(101,'Karan',90,70,50)
s[1].storeStudData(202,'Harry',70,80,90)
s[2].storeStudData(203,'James',40,50,60)

In [13]:
for stud in s:
    stud.dispStudDtls()
    print("----------------------------------------------------")

Roll Number of the student ::  101
Name of the student ::  Karan
Marks scored in Subject #1 ::  90
Marks scored in Subject #2 ::  70
Marks scored in Subject #3 ::  50
Total marks scored ::  210
Average of the marks scored ::  70.0
----------------------------------------------------
Roll Number of the student ::  202
Name of the student ::  Harry
Marks scored in Subject #1 ::  70
Marks scored in Subject #2 ::  80
Marks scored in Subject #3 ::  90
Total marks scored ::  240
Average of the marks scored ::  80.0
----------------------------------------------------
Roll Number of the student ::  203
Name of the student ::  James
Marks scored in Subject #1 ::  40
Marks scored in Subject #2 ::  50
Marks scored in Subject #3 ::  60
Total marks scored ::  150
Average of the marks scored ::  50.0
----------------------------------------------------

In [18]:
s = Student()

In [19]:
s.storeStudData(1,'Amit')

In [20]:
s.dispStudDtls()

Roll Number of the student ::  1
Name of the student ::  Amit
Marks scored in Subject #1 ::  0
Marks scored in Subject #2 ::  0
Marks scored in Subject #3 ::  0
Total marks scored ::  0
Average of the marks scored ::  0.0

In [21]:
s = Student()

In [22]:
s.storeStudData(1,'Akhil',50,60,70,80,90)

TypeError: storeStudData() takes from 3 to 6 positional arguments but 8 were given

In [65]:
class Student:
    def storeStudData(self,rno,sna,mks=0):
        self.rno = rno
        self.sna = sna
        self.mks = mks
        
    def getTotMks(self):
        tot=0
        for m in self.mks:
            tot+=m
            
        return tot
    
    def getAvgMks(self):
        return (self.getTotMks()/len(self.mks))
    
    def dispStudDtls(self):
        print("Roll Number of the student :: ",self.rno)
        print("Name of the student :: ",self.sna)
        if(type(self.mks) == list or type(self.mks) == tuple ):
            for i in range(len(self.mks)):
                print("Marks scored in subject #",(i+1)," :: ",self.mks[i])
            print("Total Of the marks scored :: ",self.getTotMks())
            print("Average of the marks scored :: ",self.getAvgMks())

In [28]:
# The following code creates a student object
s1 = Student()

In [29]:
# Initializing the contents of the student object.
s1.storeStudData(1,'James',[50,60,70,80,90])

In [30]:
s1.dispStudDtls()

Roll Number of the student ::  1
Name of the student ::  James
Marks scored in subject # 1  ::  50
Marks scored in subject # 2  ::  60
Marks scored in subject # 3  ::  70
Marks scored in subject # 4  ::  80
Marks scored in subject # 5  ::  90
Total Of the marks scored ::  350
Average of the marks scored ::  70.0

In [31]:
s2 = Student()

In [32]:
s2.storeStudData(2,'Mahendra',(50,90))

In [33]:
s2.dispStudDtls()

Roll Number of the student ::  2
Name of the student ::  Mahendra
Marks scored in subject # 1  ::  50
Marks scored in subject # 2  ::  90
Total Of the marks scored ::  140
Average of the marks scored ::  70.0

In [34]:
#Creating a list of student objects.
s = [Student(),Student(),Student()]

In [35]:
#Initializing the details of each and every student objects contents
s[0].storeStudData(101,'Hari',(30,40,50,45))
s[1].storeStudData(102,'Rama',[45,55,65])
s[2].storeStudData(103,'Kalyan',[70])

In [37]:
for stud in s:
    stud.dispStudDtls()
    print("------------------------------")

Roll Number of the student ::  101
Name of the student ::  Hari
Marks scored in subject # 1  ::  30
Marks scored in subject # 2  ::  40
Marks scored in subject # 3  ::  50
Marks scored in subject # 4  ::  45
Total Of the marks scored ::  165
Average of the marks scored ::  41.25
------------------------------
Roll Number of the student ::  102
Name of the student ::  Rama
Marks scored in subject # 1  ::  45
Marks scored in subject # 2  ::  55
Marks scored in subject # 3  ::  65
Total Of the marks scored ::  165
Average of the marks scored ::  55.0
------------------------------
Roll Number of the student ::  103
Name of the student ::  Kalyan
Marks scored in subject # 1  ::  70
Total Of the marks scored ::  70
Average of the marks scored ::  70.0
------------------------------

In [66]:
s = Student()

In [67]:
s.storeStudData(105,'Arjun')

In [68]:
s.dispStudDtls()

Roll Number of the student ::  105
Name of the student ::  Arjun

In [61]:
s = [1,2,3,4]

In [62]:
type(s)

list

In [63]:
s = (1,2,3,4)

In [64]:
type(s)

tuple

In [69]:
class TCls1:
    def storeData(self,a,b):
        self.a = a
        self.b = b
        
    def dispData(self):
        print("a = ",self.a)
        print("b = ",self.b)

In [70]:
# The following statement creates an object of TCls1
obj1 = TCls1()

In [71]:
# Initializing the content of the TCls1 object that we have created in the above statement.
obj1.storeData(5,10)

In [72]:
#Displaying the contents of the TCls1 object
obj1.dispData()

a =  5
b =  10

In [73]:
obj2 = TCls1()

In [74]:
obj2.dispData()

AttributeError: 'TCls1' object has no attribute 'a'

In [75]:
class TCls1:
    def __init__(self):
        print("__init__/Constuctor method is called and the object is created and initialized ")

In [76]:
a = TCls1()

__init__/Constuctor method is called and the object is created and initialized

In [77]:
b = TCls1()

__init__/Constuctor method is called and the object is created and initialized

In [78]:
samp = [ TCls1(), TCls1(), TCls1()]

__init__/Constuctor method is called and the object is created and initialized
__init__/Constuctor method is called and the object is created and initialized
__init__/Constuctor method is called and the object is created and initialized

In [79]:
class TCls1:
    def __init__(self,a,b):
        self.a=a
        self.b = b
        
    def dispData(self):
        print('Contents of the first member a = ',self.a)
        print('Contents of the second member b = ',self.b)

In [83]:
# The following code creates an object obj1 and also initializes the contents of the two member variables a and b
obj1 = TCls1(2,3)

In [84]:
obj1.dispData()

Contents of the first member a =  2
Contents of the second member b =  3

In [90]:
class Student:
    def __init__(self,rno,sna,mks=0):
        self.rno = rno
        self.sna = sna
        self.mks = mks
        
    def getTotMks(self):
        tot=0
        for m in self.mks:
            tot+=m
            
        return tot
    
    def getAvgMks(self):
        return (self.getTotMks()/len(self.mks))
    
    def dispStudDtls(self):
        print("Roll Number of the student :: ",self.rno)
        print("Name of the student :: ",self.sna)
        if(type(self.mks) == list or type(self.mks) == tuple ):
            for i in range(len(self.mks)):
                print("Marks scored in subject #",(i+1)," :: ",self.mks[i])
            print("Total Of the marks scored :: ",self.getTotMks())
            print("Average of the marks scored :: ",self.getAvgMks())

In [87]:
s1 = Student(1,'Rama',[50,60,70])

In [88]:
s1.dispStudDtls()

Roll Number of the student ::  1
Name of the student ::  Rama
Marks scored in subject # 1  ::  50
Marks scored in subject # 2  ::  60
Marks scored in subject # 3  ::  70
Total Of the marks scored ::  180
Average of the marks scored ::  60.0

In [91]:
studs = [Student(101,'Amit',[50,60]),Student(102,'Hari',(70,80,90,100)),Student(105,'Harry')]

In [92]:
for s in studs:
    s.dispStudDtls()
    print("-----------------------")

Roll Number of the student ::  101
Name of the student ::  Amit
Marks scored in subject # 1  ::  50
Marks scored in subject # 2  ::  60
Total Of the marks scored ::  110
Average of the marks scored ::  55.0
-----------------------
Roll Number of the student ::  102
Name of the student ::  Hari
Marks scored in subject # 1  ::  70
Marks scored in subject # 2  ::  80
Marks scored in subject # 3  ::  90
Marks scored in subject # 4  ::  100
Total Of the marks scored ::  340
Average of the marks scored ::  85.0
-----------------------
Roll Number of the student ::  105
Name of the student ::  Harry
-----------------------