In [1]:
s = tuple()

In [2]:
type(s)

tuple

In [3]:
s = list()

In [4]:
type(s)

list

In [5]:
s = tuple()

In [6]:
len(s)

0

In [7]:
s = (1,2,3,2,1,2,3)

In [8]:
s

(1, 2, 3, 2, 1, 2, 3)

In [9]:
len(s)

7

In [10]:
s.count(1)

2

In [11]:
s.count(10)

0

In [12]:
s

(1, 2, 3, 2, 1, 2, 3)

In [13]:
s.index(3)

2

In [14]:
s.index(10)

ValueError: tuple.index(x): x not in tuple

In [15]:
s

(1, 2, 3, 2, 1, 2, 3)

In [16]:
s.append(10)

AttributeError: 'tuple' object has no attribute 'append'

In [17]:
s.insert(2,10)

AttributeError: 'tuple' object has no attribute 'insert'

In [18]:
s

(1, 2, 3, 2, 1, 2, 3)

In [19]:
s.remove(1)

AttributeError: 'tuple' object has no attribute 'remove'

In [20]:
s

(1, 2, 3, 2, 1, 2, 3)

In [21]:
s.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [22]:
s = tuple(range(10,101,10))

In [23]:
s

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)

In [24]:
for e in s:
    print(e)

10
20
30
40
50
60
70
80
90
100

In [25]:
len(s)

10

In [26]:
i=0
while(i<=len(s)-1):
    print("Element at index :: ",i," is :: ",s[i])
    i=i+1

Element at index ::  0  is ::  10
Element at index ::  1  is ::  20
Element at index ::  2  is ::  30
Element at index ::  3  is ::  40
Element at index ::  4  is ::  50
Element at index ::  5  is ::  60
Element at index ::  6  is ::  70
Element at index ::  7  is ::  80
Element at index ::  8  is ::  90
Element at index ::  9  is ::  100

In [27]:
res = enumerate(s)

In [28]:
res

In [29]:
for k,v in res:
    print(k,"::",v)

0 :: 10
1 :: 20
2 :: 30
3 :: 40
4 :: 50
5 :: 60
6 :: 70
7 :: 80
8 :: 90
9 :: 100

In [30]:
res = enumerate(s,start=100)

In [31]:
for c,v in res:
    print(c," :: ",v)

100  ::  10
101  ::  20
102  ::  30
103  ::  40
104  ::  50
105  ::  60
106  ::  70
107  ::  80
108  ::  90
109  ::  100

## Can we assign a list to a tuple?

In [32]:
s1 = [1,5,2,3,4]

In [34]:
s1

[1, 5, 2, 3, 4]

In [35]:
s1.append(100)

In [36]:
s1

[1, 5, 2, 3, 4, 100]

In [37]:
s2 = tuple(s1)

In [38]:
s2

(1, 5, 2, 3, 4, 100)

In [39]:
type(s1)

list

In [40]:
type(s2)

tuple

In [41]:
id(s1)

2275625205640

In [42]:
id(s2)

2275625611912

In [43]:
s1

[1, 5, 2, 3, 4, 100]

In [44]:
s1 = tuple(s1)

In [45]:
s1

(1, 5, 2, 3, 4, 100)

In [46]:
s1 = (1,5,2,3,4)

In [47]:
s1[0]

1

In [48]:
s1[4]

4

In [49]:
res = iter(s1)

In [50]:
res

In [51]:
next(res)

1

In [52]:
next(res)

5

In [53]:
s1

(1, 5, 2, 3, 4)

In [54]:
next(res)

2

In [55]:
next(res)

3

In [56]:
next(res)

4

In [57]:
next(res)

StopIteration:

In [58]:
s = tuple(range(51,61))

In [59]:
s

(51, 52, 53, 54, 55, 56, 57, 58, 59, 60)

In [60]:
s[:5]

(51, 52, 53, 54, 55)

In [61]:
s[3:7]

(54, 55, 56, 57)

In [62]:
s[5:]

(56, 57, 58, 59, 60)

In [63]:
s[::3]

(51, 54, 57, 60)

In [64]:
sobj = slice(5)

In [65]:
s[sobj]

(51, 52, 53, 54, 55)

In [66]:
sobj = slice(3,7)

In [67]:
s[sobj]

(54, 55, 56, 57)

In [68]:
sobj = slice(0,9,2)

In [69]:
s[sobj]

(51, 53, 55, 57, 59)

In [70]:
s = tuple(range(1,11))

In [71]:
s

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [72]:
reversed(s)

In [73]:
s

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [74]:
res = reversed(s)

In [75]:
res

In [76]:
for e in res:
    print(e)

10
9
8
7
6
5
4
3
2
1

In [77]:
s = [True,'Hello',10,20.55,100]

In [78]:
res = reversed(s)

In [79]:
for e in res:
    print(e)

100
20.55
10
Hello
True

In [80]:
s = (5,2,1,3,4,5,1,3,4,2)

In [81]:
sorted(s)

[1, 1, 2, 2, 3, 3, 4, 4, 5, 5]

In [82]:
type(sorted(s))

list

In [83]:
s

(5, 2, 1, 3, 4, 5, 1, 3, 4, 2)

In [84]:
res = sorted(s)

In [85]:
res

[1, 1, 2, 2, 3, 3, 4, 4, 5, 5]

In [86]:
s

(5, 2, 1, 3, 4, 5, 1, 3, 4, 2)

In [87]:
res = sorted(s,reverse=True)

In [88]:
res

[5, 5, 4, 4, 3, 3, 2, 2, 1, 1]

In [89]:
s

(5, 2, 1, 3, 4, 5, 1, 3, 4, 2)

In [90]:
len(s)

10

In [91]:
s

(5, 2, 1, 3, 4, 5, 1, 3, 4, 2)

In [92]:
max(s)

5

In [93]:
min(s)

1

In [94]:
sum(s)

30

In [95]:
sum(s,10)

40

In [96]:
s = [1,2,1,2,1,2,4,5,3]

In [97]:
sum(s)

21

In [98]:
sum(s,10)

31

In [99]:
min(s)

1

In [100]:
max(s)

5

In [101]:
sum(s)

21

In [102]:
avg(s)

NameError: name 'avg' is not defined

In [103]:
sum(s)/len(s)

2.3333333333333335

In [104]:
len(s)

9

In [106]:
class MyCustClass:
    pass

In [111]:
s = [MyCustClass(),MyCustClass(),MyCustClass(),MyCustClass()]

In [112]:
type(s)

list

In [108]:
len(s)

4

In [113]:
s = (MyCustClass(),MyCustClass(),MyCustClass(),MyCustClass(),MyCustClass(),MyCustClass(),MyCustClass())

In [110]:
len(s)

7

In [114]:
type(s)

tuple

In [115]:
s = {MyCustClass(),MyCustClass(),MyCustClass()}

In [116]:
s

{<__main__.MyCustClass at 0x211d5e0c2b0>,
 <__main__.MyCustClass at 0x211d5e0c5c0>,
 <__main__.MyCustClass at 0x211d5e0c7b8>}

In [117]:
len(s)

3

In [118]:
type(s)

set

## Create 2 tuple objects with elements and create a third tuple object that will have all the element in both the first and second tuple object.

In [119]:
s = (1,2,3,4,5)

In [120]:
for e in s:
    print(e)

1
2
3
4
5

In [121]:
res = iter(s)

In [122]:
next(res)

1

In [123]:
next(res)

2

In [125]:
for e in s:
    print(e)

1
2
3
4
5

In [126]:
next(res)

3

In [127]:
for r in iter(s):
    print(next(r))

TypeError: 'int' object is not an iterator