In [1]:
d = dict()

In [2]:
type(d)

dict

In [3]:
len(d)

0

In [4]:
d = {1:'One',2:"Two",3:'Three','Four':4,5:5}

In [5]:
d

{1: 'One', 2: 'Two', 3: 'Three', 'Four': 4, 5: 5}

In [6]:
len(d)

5

In [7]:
d[1]

'One'

In [8]:
d['Four']

4

In [9]:
d[Four]

NameError: name 'Four' is not defined

In [10]:
d["Four"]

4

In [11]:
d['four']

KeyError: 'four'

In [12]:
d[5]

5

In [13]:
d.get(1)

'One'

In [14]:
d

{1: 'One', 2: 'Two', 3: 'Three', 'Four': 4, 5: 5}

In [15]:
d.get(5)

5

In [16]:
d.get('Four')

4

In [17]:
len(d)

5

In [18]:
d.clear()

In [19]:
d

{}

In [20]:
len(d)

0

## Adding elements to the Dictionary object....

In [21]:
d = dict()

In [22]:
d.update({1:'One'})

In [23]:
d

{1: 'One'}

In [24]:
d.update(2:'Two')

SyntaxError: invalid syntax (<ipython-input-24-f2556d27302e>, line 1)

In [25]:
d.update({2:'Two',3:'Three',4:"Four"})

In [26]:
d

{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four'}

In [27]:
for e in d:
    print(e)

1
2
3
4

In [28]:
d = {1:'One',2:'Two'}

In [29]:
d

{1: 'One', 2: 'Two'}

In [30]:
d.update({3:'Three'})

In [31]:
d

{1: 'One', 2: 'Two', 3: 'Three'}

In [32]:
d.update({1:'Ten'})

In [33]:
d

{1: 'Ten', 2: 'Two', 3: 'Three'}

## Copying the contents of the dictionary

In [34]:
d1 = {1:1,2:2}

In [35]:
d2 = d1

In [36]:
d1

{1: 1, 2: 2}

In [37]:
d2

{1: 1, 2: 2}

In [38]:
id(d1)

2062644790976

In [39]:
id(d2)

2062644790976

In [40]:
d2.update({5:5})

In [42]:
d2

{1: 1, 2: 2, 5: 5}

In [43]:
d1

{1: 1, 2: 2, 5: 5}

## Deep copy of elements in a dictionary

In [44]:
d1 = {1:1,2:2,3:3,4:4}

In [45]:
d2 = d1.copy()

In [46]:
id(d1)

2062572630664

In [47]:
id(d2)

2062644248720

In [48]:
d1

{1: 1, 2: 2, 3: 3, 4: 4}

In [49]:
d2

{1: 1, 2: 2, 3: 3, 4: 4}

In [50]:
d2.update({10:10})

In [51]:
d1

{1: 1, 2: 2, 3: 3, 4: 4}

In [52]:
d2

{1: 1, 2: 2, 3: 3, 4: 4, 10: 10}

In [53]:
## Order of the elements/items in the dictionary is not preserved/maintained.

In [58]:
d = {10:10,100:'One hundred',5:"May",'June':6,1:1}

In [59]:
d

{10: 10, 100: 'One hundred', 5: 'May', 'June': 6, 1: 1}

In [60]:
d.update({1:1})

In [61]:
d

{10: 10, 100: 'One hundred', 5: 'May', 'June': 6, 1: 1}

In [62]:
d[1]

1

In [63]:
d[0]

KeyError: 0

In [64]:
d[5]

'May'

In [65]:
d['June']

6

In [66]:
d = {'a':1,'z':26,'b':2,'A':65}

In [67]:
d

{'a': 1, 'z': 26, 'b': 2, 'A': 65}

## Constructing a dictionary object using fromkeys()

In [68]:
s = [1,2,3,4,5]

In [69]:
d = dict.fromkeys(s)

In [70]:
d

{1: None, 2: None, 3: None, 4: None, 5: None}

In [71]:
s = (1,5,4,3,2)

In [72]:
d = dict.fromkeys(s)

In [73]:
d

{1: None, 5: None, 4: None, 3: None, 2: None}

In [74]:
s = {5,1,3,2,4}

In [75]:
d = dict.fromkeys(s)

In [76]:
d

{1: None, 2: None, 3: None, 4: None, 5: None}

In [77]:
s = [5,1,2,3,4]

In [78]:
d = dict.fromkeys(s,'Hello')

In [79]:
d

{5: 'Hello', 1: 'Hello', 2: 'Hello', 3: 'Hello', 4: 'Hello'}

In [80]:
s = (1,5,3,2,4)

In [81]:
d = dict.fromkeys(s,[100,500,200])

In [82]:
d

{1: [100, 500, 200],
 5: [100, 500, 200],
 3: [100, 500, 200],
 2: [100, 500, 200],
 4: [100, 500, 200]}

In [83]:
d = dict.fromkeys(s,{100,500,200})

In [84]:
d

{1: {100, 200, 500},
 5: {100, 200, 500},
 3: {100, 200, 500},
 2: {100, 200, 500},
 4: {100, 200, 500}}

In [85]:
d = {1:'One',2:'Two',3:"Three",5:'Five','Ten':10}

In [86]:
d

{1: 'One', 2: 'Two', 3: 'Three', 5: 'Five', 'Ten': 10}

In [87]:
d.keys()

dict_keys([1, 2, 3, 5, 'Ten'])

In [88]:
res = d.keys()

In [89]:
type(res)

dict_keys

In [90]:
for e in res:
    print(e)

1
2
3
5
Ten

In [91]:
for e in res:
    print(d[e])

One
Two
Three
Five
10

In [92]:
for e in res:
    print(d.get(e))

One
Two
Three
Five
10

In [93]:
d

{1: 'One', 2: 'Two', 3: 'Three', 5: 'Five', 'Ten': 10}

In [94]:
d.values()

dict_values(['One', 'Two', 'Three', 'Five', 10])

In [95]:
res = d.values()

In [96]:
type(res)

dict_values

In [97]:
for e in res:
    print(e)

One
Two
Three
Five
10

In [98]:
d

{1: 'One', 2: 'Two', 3: 'Three', 5: 'Five', 'Ten': 10}

In [99]:
for e in d.values():
    print(e)

One
Two
Three
Five
10

In [100]:
for e in d.keys():
    print(d[e])

One
Two
Three
Five
10

In [101]:
for e in d.keys():
    print(d.get(e))

One
Two
Three
Five
10

In [102]:
d.items()

dict_items([(1, 'One'), (2, 'Two'), (3, 'Three'), (5, 'Five'), ('Ten', 10)])

In [103]:
res = d.items()

In [104]:
res

dict_items([(1, 'One'), (2, 'Two'), (3, 'Three'), (5, 'Five'), ('Ten', 10)])

In [105]:
type(res)

dict_items

In [106]:
for k,v in res:
    print("Key is :: ",k," and value is :: ",v)

Key is ::  1  and value is ::  One
Key is ::  2  and value is ::  Two
Key is ::  3  and value is ::  Three
Key is ::  5  and value is ::  Five
Key is ::  Ten  and value is ::  10

In [107]:
d

{1: 'One', 2: 'Two', 3: 'Three', 5: 'Five', 'Ten': 10}

In [108]:
res = d.popitem()

In [109]:
res

('Ten', 10)

In [110]:
res[0]

'Ten'

In [111]:
res[1]

10

In [112]:
d

{1: 'One', 2: 'Two', 3: 'Three', 5: 'Five'}

In [113]:
res = d.pop(2)

In [114]:
res

'Two'

In [115]:
res = d.pop(2)

KeyError: 2

In [116]:
d.pop(2,'Not found!')

'Not found!'

In [117]:
d

{1: 'One', 3: 'Three', 5: 'Five'}

In [118]:
d.setdefault(1)

'One'

In [119]:
d

{1: 'One', 3: 'Three', 5: 'Five'}

In [120]:
d.setdefault(10)

In [121]:
d

{1: 'One', 3: 'Three', 5: 'Five', 10: None}

In [123]:
d.setdefault(2,'TWO')

'TWO'

In [124]:
d

{1: 'One', 3: 'Three', 5: 'Five', 10: None, 2: 'TWO'}

In [125]:
d.setdefault(3,'THREE')

'Three'

In [126]:
d

{1: 'One', 3: 'Three', 5: 'Five', 10: None, 2: 'TWO'}

In [127]:
d = {'One':1,3:3,2:'Two','Three':"Three"}

In [128]:
d

{'One': 1, 3: 3, 2: 'Two', 'Three': 'Three'}

## Nested containers....

In [129]:
s = [[1,2],[3,4],[5,6]]

In [131]:
len(s)

3

In [132]:
s[0]

[1, 2]

In [133]:
s[-1]

[5, 6]

In [134]:
s[0][0]

1

In [136]:
s[2][1]

6

In [145]:
s = [[1,2,3],{6,4,5,4},(9,7,8,9)]

In [146]:
s

[[1, 2, 3], {4, 5, 6}, (9, 7, 8, 9)]

In [139]:
for e in s:
    print(e)

[1, 2, 3]
{4, 5, 6}
(7, 8, 9)

In [140]:
for e in s:
    print(type(e))

<class 'list'>
<class 'set'>
<class 'tuple'>

In [148]:
for i in range(len(s)):
    print("Elements at index :: ", i, " :: ",s[i])

Elements at index ::  0  ::  [1, 2, 3]
Elements at index ::  1  ::  {4, 5, 6}
Elements at index ::  2  ::  (9, 7, 8, 9)