In [1]:
class SampCls1:
    def f1():
        print("f1 of the SampCls1 called/executed")
        
    def f2():
        print("f2 of the SampCls1 called/executed")

In [2]:
SampCls1.f1()

f1 of the SampCls1 called/executed

In [3]:
SampCls1.f2()

f2 of the SampCls1 called/executed

## Linking or chaining or relating methods in a class

In [5]:
class SampCls2:
    def f1():
        print("f1 of the class SampCls2 called/executed")
        SampCls2.f2()
        
    def f2():
        print("f2 of the class SampCls2 called/executed")

In [6]:
SampCls2.f1()

f1 of the class SampCls2 called/executed
f2 of the class SampCls2 called/executed

In [7]:
SampCls2.f2()

f2 of the class SampCls2 called/executed

In [8]:
class SampCls3:
    def f1(self):
        print("instance method f1 of the class SampCls3 called/executed")
        
    def f2(self):
        print("instance method f2 of the class SampCls3 called/executed")

In [9]:
a = SampCls3()

In [10]:
a.f1()

instance method f1 of the class SampCls3 called/executed

In [11]:
a.f2()

instance method f2 of the class SampCls3 called/executed

## Linking or chaining method(s)/function(s) which are of instance type

In [15]:
class SampCls3:
    def f1(self):        
        print("instance method f1 of the class SampCls3 called/executed")
        self.f2()
        
    def f2(self):
        print("instance method f2 of the class SampCls3 called/executed")

In [16]:
p = SampCls3()

In [17]:
p.f1()

instance method f1 of the class SampCls3 called/executed
instance method f2 of the class SampCls3 called/executed

In [18]:
p.f2()

instance method f2 of the class SampCls3 called/executed

In [19]:
class MathOps:
    def addFn(self,a,b):
        print("Addition result = ",a+b)
        
    def subFn(self,a,b):
        print("Subtraction result = ",a-b)
        
    def mulFn(self,a,b):
        print("Result of multiplication = ",a*b)

In [20]:
m = MathOps()

In [21]:
m.addFn(5,2)

Addition result =  7

In [22]:
m.subFn(5,2)

Subtraction result =  3

In [23]:
m.mulFn(5,2)

Result of multiplication =  10

In [24]:
class MathOps:
    def addFn(self,a,b):
        print("Addition result = ",a+b)
        self.subFn(a,b)
        
    def subFn(self,a,b):
        print("Subtraction result = ",a-b)
        self.mulFn(a,b)
        
    def mulFn(self,a,b):
        print("Result of multiplication = ",a*b)

In [25]:
m = MathOps()

In [26]:
m.addFn(5,2)

Addition result =  7
Subtraction result =  3
Result of multiplication =  10

In [34]:
class Student:
    def storeStudData(self,rno,sname,mk1,mk2,mk3):
        self.rno = rno
        self.sname = sname
        self.m1 = mk1
        self.m2 = mk2
        self.m3 = mk3
        
    def getTotMks(self):
        totmks= self.m1+self.m2+self.m3
        return totmks
    
    def getAvgMks(self):
        #avgmks = (self.m1+self.m2+self.m3)/3
        avgmks = self.getTotMks()/3
        return avgmks
    
    def dispStudDtls(self):
        print("Roll Number of the student :: ",self.rno)
        print("Name of the student :: ",self.sname)
        print("Marks scored in subject #1 = ",self.m1)
        print("Marks scored in subject #2 = ",self.m2)
        print("Marks scored in subject #3 = ",self.m3)
        print("Total of all subject marks scored :: ",self.getTotMks())
        print("Average of the marks scored :: ",self.getAvgMks())

In [35]:
s1 = Student()

In [36]:
s1.storeStudData(101,'Amit',50,60,70)

In [37]:
s1.dispStudDtls()

Roll Number of the student ::  101
Name of the student ::  Amit
Marks scored in subject #1 =  50
Marks scored in subject #2 =  60
Marks scored in subject #3 =  70
Total of all subject marks scored ::  180
Average of the marks scored ::  60.0

In [38]:
s1.getTotMks()

180

In [39]:
s1.getAvgMks()

60.0

In [40]:
s2 = Student()

In [41]:
s2.storeStudData(102,'Anil',50.75,60,78.95)

In [43]:
s2.getTotMks()

189.7

In [44]:
s2.getAvgMks()

63.23333333333333

In [45]:
s2.dispStudDtls()

Roll Number of the student ::  102
Name of the student ::  Anil
Marks scored in subject #1 =  50.75
Marks scored in subject #2 =  60
Marks scored in subject #3 =  78.95
Total of all subject marks scored ::  189.7
Average of the marks scored ::  63.23333333333333

In [46]:
studs = [Student(),Student(),Student()]

In [47]:
studs[0].storeStudData(1,'Hari',50,70,90)
studs[1].storeStudData(2,'Rama',80,90,75)
studs[2].storeStudData(3,'Kiran',75.25,90,95.45)

In [49]:
studs[0].dispStudDtls()

Roll Number of the student ::  1
Name of the student ::  Hari
Marks scored in subject #1 =  50
Marks scored in subject #2 =  70
Marks scored in subject #3 =  90
Total of all subject marks scored ::  210
Average of the marks scored ::  70.0

In [51]:
studs[1].dispStudDtls()

Roll Number of the student ::  2
Name of the student ::  Rama
Marks scored in subject #1 =  80
Marks scored in subject #2 =  90
Marks scored in subject #3 =  75
Total of all subject marks scored ::  245
Average of the marks scored ::  81.66666666666667

In [52]:
studs[2].dispStudDtls()

Roll Number of the student ::  3
Name of the student ::  Kiran
Marks scored in subject #1 =  75.25
Marks scored in subject #2 =  90
Marks scored in subject #3 =  95.45
Total of all subject marks scored ::  260.7
Average of the marks scored ::  86.89999999999999

In [53]:
for s in studs:
    s.dispStudDtls()
    print("======================================")

Roll Number of the student ::  1
Name of the student ::  Hari
Marks scored in subject #1 =  50
Marks scored in subject #2 =  70
Marks scored in subject #3 =  90
Total of all subject marks scored ::  210
Average of the marks scored ::  70.0
======================================
Roll Number of the student ::  2
Name of the student ::  Rama
Marks scored in subject #1 =  80
Marks scored in subject #2 =  90
Marks scored in subject #3 =  75
Total of all subject marks scored ::  245
Average of the marks scored ::  81.66666666666667
======================================
Roll Number of the student ::  3
Name of the student ::  Kiran
Marks scored in subject #1 =  75.25
Marks scored in subject #2 =  90
Marks scored in subject #3 =  95.45
Total of all subject marks scored ::  260.7
Average of the marks scored ::  86.89999999999999
======================================

In [54]:
for i in range(len(studs)):
    studs[i].dispStudDtls()
    print("----------------------------------------------------------")

Roll Number of the student ::  1
Name of the student ::  Hari
Marks scored in subject #1 =  50
Marks scored in subject #2 =  70
Marks scored in subject #3 =  90
Total of all subject marks scored ::  210
Average of the marks scored ::  70.0
----------------------------------------------------------
Roll Number of the student ::  2
Name of the student ::  Rama
Marks scored in subject #1 =  80
Marks scored in subject #2 =  90
Marks scored in subject #3 =  75
Total of all subject marks scored ::  245
Average of the marks scored ::  81.66666666666667
----------------------------------------------------------
Roll Number of the student ::  3
Name of the student ::  Kiran
Marks scored in subject #1 =  75.25
Marks scored in subject #2 =  90
Marks scored in subject #3 =  95.45
Total of all subject marks scored ::  260.7
Average of the marks scored ::  86.89999999999999
----------------------------------------------------------

In [56]:
i=0
while(i<len(studs)):
    studs[i].dispStudDtls()
    i+=1
    print("*****************************************************")

Roll Number of the student ::  1
Name of the student ::  Hari
Marks scored in subject #1 =  50
Marks scored in subject #2 =  70
Marks scored in subject #3 =  90
Total of all subject marks scored ::  210
Average of the marks scored ::  70.0
*****************************************************
Roll Number of the student ::  2
Name of the student ::  Rama
Marks scored in subject #1 =  80
Marks scored in subject #2 =  90
Marks scored in subject #3 =  75
Total of all subject marks scored ::  245
Average of the marks scored ::  81.66666666666667
*****************************************************
Roll Number of the student ::  3
Name of the student ::  Kiran
Marks scored in subject #1 =  75.25
Marks scored in subject #2 =  90
Marks scored in subject #3 =  95.45
Total of all subject marks scored ::  260.7
Average of the marks scored ::  86.89999999999999
*****************************************************